name: App  Build

on: pull_request

jobs: 
  build: 
    # github runner eintragen 
    runs-on: ubuntu-latest
    
    steps:
      # Code auschecken, erste Version kann man auch wiederverwenden
      - uses: actions/checkout@v1
      # Setup tooling & Enviroment
      - name: Set Up JDK
        uses: actions/setup-java@v1
        # Properties um die Enviroment Variablen zu customizen
        with: 
          java-version: 1.8
        
      #Pasta aus Website
      - name: Setup Node.js
          uses: actions/setup-node@v1
          with:
            node-version: 13.x

      - name: Install Cordova
        run: npm install -g cordova

      - name: Install Ionic
        run: npm install -g @ionic/cli

      - name: Install app dependencies
        run: npm install

      - name: Add Android platform
        run: ionic cordova platform add android@latest

      - name: Build Android Dev APK
        run: ionic cordova build android

      - name: Build Android Release APK
        run: ionic cordova build android --release --prod

      - name: Generate the Android App Bundle
        working-directory: ./platforms/android/
        run: ./gradlew bundle

      - name: Upload dev APK
        uses: actions/upload-artifact@v1
          with:
            name: app-dev
            path: platforms/android/app/build/outputs/apk/debug/app-debug.apk
      
        # Das was man normal in die Console zum Build eintippt? 
      - name: Run Tests 
        run: ./gradlew test 

      - name: Build Project
        run: ./gradlew assemble
