ion-content{
    --ion-background-color:linear-gradient(#FFE793,#FF9593 );
}

h1{
    color: Black;
}

ion-toolbar{
    --ion-background-color: #FFE793;
    color: black;
  }

  ion-list{
    --ion-background-color: transparent;
  }

  h3{
      color:black;
  }

#signoutbttn{
    background-color: #FF9593;
    margin: 2%;
}

ion-fab-button{
  --background: #FF9593;
}
ion-grid{
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9em;
}
#aussen{
  margin: 10px 0 0 10px;
  width:100%;
  float: left;
}
#oben{
  float: both;
  margin-left: 0px;
  margin-top: 0px;
}
#unten{
  float: both;
  margin-left: 0px;
  margin-top: 0px;
}