ion-content{
    --ion-background-color:linear-gradient(#FFE793,#FF9593 );
}

h1{
    color: Black;
}

ion-toolbar{
    --ion-background-color: #FFE793;
    color: black;
  }

  ion-list{
    --ion-background-color: transparent;
  }

  ion-card{
    --ion-background-color: #FFE793;
  }

  h3{
      color:black;
  }

.signoutbttn{
    background-color: #FF9593;
    color: #FFE793;
}

