<ion-header>
  <ion-toolbar>
    <ion-title>info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <h3>{{title}}</h3>
    <p>Beschreibung: {{description}}</p>
    <p>Adresse: {{address}}</p>
    <p>Datum: {{date}}</p>
    <p>Uhrzeit: {{time}}</p>
    <p>ID: {{id}}</p>

  </ion-card>

  <ion-card>
    <p>Teilnehmer</p>
    <ion-button (click)="addTeilnehmer(id)">+</ion-button>
    
    <ion-label *ngFor="let tnArray of teilnehmerPromise|async | slice:0:1; let i=index">
      <ion-list *ngFor="let tn of tnArray.Teilnehmer" >
        <p>{{tn}}<ion-button (click)="removeTeilnehmer(id, tn)" slot="end"><ion-icon name="trash"></ion-icon></ion-button></p>
      </ion-list>

    </ion-label>
  </ion-card>
</ion-content>