<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        Details
      </ion-card-subtitle>
    </ion-card-header>
    
    <p>Beschreibung: <br>
      {{description}}</p>
    <p>Adresse: {{address}}</p>
    <p>Datum: {{date}} {{time}} Uhr</p>
    <p>ID: {{id}}</p>

  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        Teilnehmer
      </ion-card-subtitle>
    </ion-card-header>

    <ion-button (click)="addTeilnehmer(id)">+</ion-button>

    <ion-list *ngFor="let tnArray of teilnehmerPromise|async | slice:0:1; let i=index">
      <ion-item *ngFor="let tn of tnArray.AusgabeArray">
        <p>{{tn}}</p>
        <ion-icon name="trash" (click)="removeTeilnehmer(id, tn)" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>