summary{
    margin-left: 153px;
}
#image{
    width: 25%;
    margin-left: auto;
    margin-right: auto;  
    margin-top: 0.6em
  }
#partymodusButton{
    --ion-background-color: #ffe89334;
}
ion-card-header{
    text-align:center;
}
