<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Partyplaner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank Hello</ion-title>
    </ion-toolbar>
  </ion-header>

  <firebase-ui></firebase-ui>
  <div *ngIf="afAuth.user | async as user">
    <h1>Hello {{ user.displayName }}!</h1>
  
<ion-button (click)="signOut()">Sign Out</ion-button>
</div>
</ion-content>
