<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Partyplaner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <firebase-ui></firebase-ui>
  <div *ngIf="afAuth.user | async as user">
    <h1>Hello {{ user.displayName }}!</h1>
  

    <ion-button (click)="addParty()">Party erstellen</ion-button>
    

    <ion-button (click)="fetch()">fetch</ion-button> <!--kann weggelassen werden wenn der code nicht in fetch() 
      sondern ionViewDidEnter kommt (wenn nicht die userID als schlüssel verwendet wird (ladezeit zu lang))-->
<!--
    <ion-list *ngIf="tasks.length !=0">
      <ion-item *ngFor="let item of tasks">
        <ion-label>
          <h3>{{item.Name}}</h3>
          <h3>{{item.Age}}</h3>
          <p>{{item.Address}}</p>
          <p>{{item.id}}</p>
        </ion-label>
        <ion-button (click)="update(item.id, item.Age)">Update
          <ion-icon color="{{item.Age ? 'success' : 'dark'}}" name="checkbox-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="delete(item.id)">Löschen</ion-button>
      </ion-item>
    </ion-list>

-->
<ion-list *ngIf="partyData.length !=0">
  <ion-item *ngFor="let item of partyData">
    <ion-label>
      <h3>{{item.title}}</h3>
      <h3>{{item.desc}}</h3>
      <h3>{{item.isDone}}</h3>
      <h3>{{item.createdAt}}</h3>
      <h3>ID: {{item.id}}</h3>
     
    
    </ion-label>
    <ion-button (click)="updateButton(item.id, item.isDone)">Update
      <ion-icon color="{{item.isDone ? 'success' : 'dark'}}" name="checkbox-outline"></ion-icon>
    </ion-button>
    <ion-button (click)="deleteButton(item.id)">Löschen</ion-button>
  </ion-item>
</ion-list>




<ion-button (click)="signOut()">Sign Out</ion-button>
</div>
</ion-content>
