/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import '~firebaseui/dist/firebaseui.css';


ion-content{
    --ion-background-color:linear-gradient(#FFE793,#FF9593 );
}

ion-toolbar{
    --ion-background-color: #FFE793;
    color: black;
  }

  ion-tab-bar{
    --ion-background-color: #FF9593;
  }

  ion-icon{
      color: black;

  }

  ion-list{
    --ion-background-color: transparent;
    color:black;
  }

  ion-card{
    //--ion-background-color: #ffffff;//#FFE793;
    //color: black;
    //text-align: center;

    --ion-background-color:#F8EDD6;
  margin-left: 3%;
  margin-right: 3%; 
  margin-top: 1%;
  margin-bottom: 0%; 
  padding: 1%;
  }

  ion-button{
    --background: #FF9593;
  }

  ion-searchbar{
    --ion-background-color:#F8EDD6;
  }

  h1{
    text-align: center;
    color:#000000;
  }
  h2{
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
  }
  p{
    margin-left:3%;
    margin-right:3%;
  }
  ion-label{
    margin-left:3%;
    margin-right:3%;
  }
  ion-title{
    margin-top: 3%;
    margin-bottom: 2%; 
  }
  ion-fab-button{
    --background: #FF9593;
  }