#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.wrapper{
  width: 100%;
  display:block;
  position:relative;
  margin-top: 250px;
  text-align: center;
  height: auto;

}


ion-content{
  --ion-background-color:linear-gradient(#FFE793,#FF9593 );
}
#signoutbttn{
  background-color: #FF9593;
  margin: 2%;
}
